.ez-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 400px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: #ffffff;
  transform: translateX(110%);
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  z-index: 10000;
  font-family: 'AppleSDGothic, "apple sd gothic neo", "noto sans korean", "noto sans korean regular", "noto sans cjk kr", "noto sans cjk", "nanum gothic", "malgun gothic", dotum, arial, helvetica, sans-serif';
}

.ez-wrapper.active {
  transform: translateX(0);
}

.ez-inner-wrapper {
  width: 100%;
  margin: 0 auto;
}

.ez-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ez-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.ez-label {
  display: block;
  font-size: 16px;
}

.ez-invalid-error {
  color: red;
  font-size: 14px;
  height: 10px;
}

.ez-input-wrapper {
  width: 100%;
  margin-top: 20px;
}

.ez-input {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
}

.ez-button {
  margin-top: 20px;
  width: 100px;
  padding: 12px 0;
  border: none;
  border-radius: 5px;
  background-color: #ffdf2b;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.ez-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #ffffff;
  box-shadow: 0px 2px 3px #bdbdbd;
  top: -14px;
  right: -14px;
  cursor: pointer;
}

.box {
  height: 200px;
}
